.idea
.DS_Store
**/src/obj
**/src/bin
**/src/*.editorconfig
src/appsettings.localtesting.json
src/appsettings.Local.json
test/Kurrent.IntegrationTest/appsettings.json
Kurrent.sln.DotSettings.user
test/Kurrent.IntegrationTest/bin/
test/Kurrent.IntegrationTest/obj/
src/config/appsettings.k8s.json
src/appsettings.Local-store.json
